name: main

on:
  push:
    branches:
      - main

jobs:
  build:
    name: main/build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      # use npm trusted publish
      - name: Update npm
        run: npm install -g npm@11.7.0

      - name: Install dependencies
        run: npm ci

      - name: Run prettier
        run: npm run prettier:check

      - name: Run tests
        run: npm test

      - name: Build package
        run: npm run build
